h1 {
  font-size: 1.4em;
}

* {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

/* Keyboard Buttons */
#keyboard .active {
  -webkit-box-shadow: 0px 0px 16px -1px white;
  -moz-box-shadow: 0px 0px 16px -1px white;
  box-shadow: 0px 0px 16px -1px white;
}

html {
  font-size: 2vw;
}

span {
  font-size: 0.4em;
}

#mainWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
#mainWrapper #header {
  max-height: 12vh;
  min-height: 100px;
  width: 100vw;
}
#mainWrapper #header .page-title {
  height: auto;
  width: 100%;
  Background-color: blue;
  display: flex;
  justify-content: flex-start;
}
#mainWrapper #header .page-title h1 {
  font-size: 1.2em;
  padding: 0.2em;
  display: block;
}
#mainWrapper #header .header-info {
  background-color: orange;
}
#mainWrapper #main {
  max-height: 86vh;
  height: 100%;
  background-color: purple;
}
#mainWrapper #main .mainLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainWrapper #main .sideBar {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 84vh;
}

#mouseEventWrapper {
  height: 100vw;
  width: 100vw;
  opacity: 0;
  transition-duration: 1s;
}
#mouseEventWrapper.mouseLeave {
  opacity: 1;
}
#mouseEventWrapper .mouseEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  padding: 20px;
  background-color: orange;
  -webkit-box-shadow: 10px 10px 196px 37vw rgba(255, 145, 0, 0.75);
  -moz-box-shadow: 10px 10px 196px 37vw rgba(255, 145, 0, 0.75);
  box-shadow: 10px 10px 196px 37vw rgba(255, 145, 0, 0.75);
  position: absolute;
  left: 40%;
  bottom: 10px;
}
#mouseEventWrapper .mouseEventContainer div p {
  font-size: 0.4em;
  margin-bottom: 0;
}
#mouseEventWrapper .mouseEventContainer div em {
  font-size: 0.3em;
}

#keyboard {
  background-color: #666;
}
#keyboard .keyboard-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#keyboard .keyboard-inner .key-btn {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  line-height: 0.6em;
  font-size: 0.8em;
}
#keyboard .keyboard-inner .key-btn span {
  display: block;
  font-size: 0.6em;
  line-height: 0.6em;
}

#pressedLog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#pressedLog .keyLogAction {
  margin: 4px auto;
  min-width: 330px;
  background-color: #666;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
#pressedLog .keyLogAction span {
  display: block;
  font-size: 0.4em;
  font-weight: 300;
  color: white;
}
#pressedLog .keyLogAction .keyLogBtn, #pressedLog .keyLogAction .keyLogTxt, #pressedLog .keyLogAction .keyLogTime, #pressedLog .keyLogAction .keyLogSeconds {
  display: inline-block;
  font-size: 0.3em;
  padding-left: 0.36em;
}
#pressedLog .keyLogAction .keyLogBtn {
  border: 1px solid black;
  padding: 5px 20px;
}
#pressedLog .keyLogAction .keyLogTxt {
  display: inline-block;
  padding-left: 0.4em;
}

/*# sourceMappingURL=style.css.map */
